body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.stock-container {
    /*==display: flex;*/
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin: 20px;*/
    width: 30%;
}

.stock-item {
    padding: auto;
    margin: 10px;
    text-align: center;
    /*box-shadow: 0 2px 4px rgba(173, 173, 173, 0.1);*/
}

.stock-symbol {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.stock-price {
    font-size: 16px;
    color: #3498db;
}

.stock-table {
    width: auto;
    margin: 25px;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stock-table th, .stock-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.stock-table th {
    background-color: #3498db;
    color: #fff;
}

.grid-container {
    display: flex;
    /* grid-template-columns: 25% 75%; */
}

.news-link {
    color: #007bff; /* Set the text color */
    text-decoration: none; /* Remove underline */
    /* font-weight: bold; */
    transition: color 0.3s ease; /* Add smooth color transition */
}

.news-link:hover {
    color: #700aac;
}


.search-container {
    width: 260px;
    margin-left: 5px;
  }
  
  /* form {
    display: flex;
  } */
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    margin-left: 15px;
  }
  
  .go-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  .go-button:hover {
    background-color: #0056b3;
  }

  #searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  
  #searchButton {
    padding: 10px;
    border: none;
    background-color: rgb(9, 80, 128);
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid;
  }
  
  #searchButton:hover {
    background-color: #0056b3;
  }
  
