.table-container {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
.title {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    color: #0d37aa;
    small {
        font-size: 16px;
        font-style: normal;
    }
}
  
.responsive-table {
    li {
        border-radius: 3px;
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .table-header {
        background-color: #6489ee;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        padding: 25px 25px;
        /* letter-spacing: 0.03em; */
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    }
    
    .table-row:hover {
        background-color: #c7d4fa;
        /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
    }
    .col-symbol {
        flex-basis: 5%;
    }
    .col-company {
        flex-basis: 25%;
    }
    .col-country {
      flex-basis: 10%;
    }
    .col-sector {
        flex-basis: 15%;
    }

    .col-industry {
        flex-basis: 15%;
    }
    .col-open {
        flex-basis: 10%;
    }
    .col-close {
        flex-basis: 10%;
    }
    .col-volume {
        flex-basis: 10%;
    }
}
  