form {
    max-width: 500px;
    margin: 15px 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    /* border-radius: 5px;  Add border-radius for rounded corners */
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px; /* Add border-radius for rounded corners */
}

