div.home-container {
    padding: 20px 20px;
    background-color:rgb(9, 80, 128);
    border: 1px solid #ddd;
    /* border-radius: 10px; */
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    /* margin-left: 25px ; */
}
div.home-container div {
    float: left;
    padding-right: 5%;
}

.home-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgb(9, 80, 128);
    border: 1px solid;
}