{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Project</title>
        <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <link rel="stylesheet" href="{% static 'stock/styles.css' %}">
        <link rel="stylesheet" href="{% static 'stock/period-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
