{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    <div class="home-container">
        <div>
            <a href="{% url 'home' %}" class="home-link" >Home</a>
        </div>
        <div style="float: right;">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="button">Login</a>
                <a href="{% url 'register' %}" class="button">Register</a>
            {% endif %}
        </div>
    </div>

    <!--<h1 style="text-align: center; padding: 20px; background-color: #3498db; color:#fff;">Stock Prices</h1> -->
    <div class="grid-container">
        <div class="stock-container">
            <!-- Trending Stock -->
            <div>
                <table class="stock-table">
                    <thead>
                        <tr>
                            <td colspan="5"
                            style="
                                text-align: center;
                                color: #124e75;
                                font-size: 20px;
                                font-weight: bold;
                                background-color: none;
                                border: none;
                            ">Trending Stocks</td>
                        </tr>
                        <tr>
                            <th>Symbol</th>
                            <th>Company</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th>Volume</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in trending %}
                            <tr>
                                {% with symbol=stock.symbol %}
                                <td><a href="{% url 'ticker_info' symbol=symbol %}">{{ stock.symbol }}</a></td>
                                {% endwith %}
                                <td>{{stock.company}}</td>
                                <td>${{stock.adj_close_price}}</td>
                                <td>${% get_change_price stock.adj_close_price stock.open_price %}</td>
                                <td>{{stock.volume}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div style="width: 100%;display: inline-block;">
            <!-- <div>
                <form method="post">
                    {% csrf_token %}
                    <label for="id_symbol">New Stock Symbol:</label>
                    <input type="text" name="symbol" maxlength="10" required="" id="id_symbol" style="width: auto;" placeholder="New Symbol">
                    <button type="submit" class="button">Add </button>
                </form>
                <div>
                    <ul id="searchResults"></ul>
                </div>
            </div> -->

            <!-- Stock to view -->
            <!-- <div>
                <table class="stock-table">
                    <thead>
                        <tr>
                            <td colspan="4"
                            style="
                                text-align: center;
                                color: white;
                                font-size: 20px;
                                font-weight: bold;
                                background-color: #3498db;
                            ">Stock Prices</td>
                        </tr>
                        <tr>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th>Volume</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stock_data.stocks %}
                            <tr>
                                <td>{{ stock.symbol }}</td>
                                <td>${{stock.close_price }}</td>
                                <td>${{stock.change}}</td>
                                <td>{{stock.volume}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> -->
            <div style="display: flex;">
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="custom-select">
                            <select name="symbol-selection" onchange='this.form.submit()'>
                                {% for symbol in symbols %}
                                    {% if symbol == plot_symbol %}
                                        <option value="{{ symbol }}" selected="selected">{{symbol}}</option>
                                    {% else %}
                                        <option value="{{ symbol }}">{{symbol}}</option>
                                    {% endif %}    
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>

                <div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="custom-select">
                            <select name="period-selection" onchange='this.form.submit()'>
                                {% for option in options %}
                                    {% if period == option.value %}
                                        <option value="{{ option.value }}" selected="selected">{{ option.label }}</option>
                                    {% else %}
                                        <option value="{{ option.value }}">{{ option.label }}</option>
                                    {% endif %}    
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div style="margin-top: 10px; margin-bottom: 15px;">
                    <div style="margin-bottom: 20px;">
                        {{ plot_html|safe }}
                    </div>
                    <div>
                        {{ top_five_plot_html|safe }}
                    </div>
                </div>
                <div>
                    News
                    {% for new in news %}
                    <div style="margin-left: 25px; margin-top: 15px;">
                        <a href="{{new.url}}" class="news-link">{{new.headline}}</a><br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <script>
        const searchInput = document.getElementById('id_symbol');
        const searchResults = document.getElementById('searchResults');

        searchInput.addEventListener('input', function() {
            const query = this.value.trim();
            fetch(`/search_symbol?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = '';
                    data.forEach(item => {
                        const p = document.createElement('p');
                        p.textContent = JSON.stringify(item.symbol + ': ' + item.company).replace(/"/g, '');
                        // p.addEventListener('mouseenter', function() {
                        //     p.classList.add('highlight');
                        // });
                        // p.addEventListener('mouseleave', function() {
                        //     p.classList.remove('highlight');
                        // });
                        p.addEventListener('click', function() {
                            const inputBar = document.getElementById('id_symbol');
                            inputBar.value = item.symbol;
                            searchResults.innerHTML=''
                        });
                        searchResults.appendChild(p);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        document.addEventListener('DOMContentLoaded', function() {
            // Get the select element
            const selectElement = document.getElementById('mySelect');

            // Get the selected value
            const selectedValue = selectElement.value;

            // Set the value attribute of the selected option to the selected value
            const selectedOption = selectElement.querySelector(`option[value="${selectedValue}"]`);
            if (selectedOption) {
                selectedOption.selected = true; // Set the selected option as default
            }
        });
    </script>
{% endblock content%}
</html>