{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    <div class="home-container">
        <div>
            <a href="{% url 'home' %}" class="home-link">Home</a>
        </div>
    </div>

    <!--<h1 style="text-align: center; padding: 20px; background-color: #3498db; color:#fff;">Stock Prices</h1> -->
    <div class="stock-container">
        <!--<div class="stock-item">
            <h1 style="
                text-align: left;
                color: #483ce4;
            ">Stock Prices</h1>
        </div>-->
        <div>
            <table class="stock-table">
                <thead>
                    <tr>
                        <td colspan="4"
                        style="
                            text-align: center;
                            color: white;
                            font-size: 20px;
                            font-weight: bold;
                            background-color: #3498db;
                        ">Stock Prices</td>
                    </tr>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Volume</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    {% for symbol, price in stock_prices.items %}
                        <tr>
                            <td>{{ symbol }}</td>
                            <td>${{ price }}</td>
                            {% get_dict_value stock_volumes symbol as volume %}
                            <td>{{volume}}</td>
                            {% get_dict_value stock_changes symbol as change %}
                            <td>{{change}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <label for="id_symbol">New Stock Symbol:</label>
                <input type="text" name="symbol" maxlength="10" required="" id="id_symbol" style="width: auto;">
                <button type="submit" class="button">Add </button>
            </form>
        </div>
        <div>
            <ul id="searchResults"></ul>
        </div>
    </div>

    

    <script>
        const searchInput = document.getElementById('id_symbol');
        const searchResults = document.getElementById('searchResults');

        searchInput.addEventListener('input', function() {
            const query = this.value.trim();
            fetch(`/search_csv?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = '';
                    data.forEach(item => {
                        const p = document.createElement('p');
                        p.textContent = JSON.stringify(item.symbol + ': ' + item.company).replace(/"/g, '');
                        // p.addEventListener('mouseenter', function() {
                        //     p.classList.add('highlight');
                        // });
                        // p.addEventListener('mouseleave', function() {
                        //     p.classList.remove('highlight');
                        // });
                        p.addEventListener('click', function() {
                            const inputBar = document.getElementById('id_symbol');
                            inputBar.value = item.symbol;
                            searchResults.innerHTML=''
                        });
                        searchResults.appendChild(p);
                    });
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock content%}
</html>