{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    <div class="home-container">
        <div>
            <a href="{% url 'home' %}" class="home-link" >Home</a>
        </div>
        <div style="float: right;">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="button">Login</a>
                <a href="{% url 'register' %}" class="button">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="grid-container">
        <div>
            <div style="display: flex;">
                <div>
                    <div>
                        <form method="post" style="padding-left: 0;">
                            {% csrf_token %}
                            <div class="custom-select">
                                <select name="period-selection" onchange='this.form.submit()'>
                                    {% for option in options %}
                                        {% if period == option.value %}
                                            <option value="{{ option.value }}" selected="selected">{{ option.label }}</option>
                                        {% else %}
                                            <option value="{{ option.value }}">{{ option.label }}</option>
                                        {% endif %}    
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>

                    <!-- Stock to view -->
                    <div>
                        <table class="stock-table">
                            <tr>
                                <th>Open</th>
                                <td>{{stock.open_price}}$</td>
                            </tr>
                            <tr>
                                <th>High</th>
                                <td>{{stock.high_price}}$</td>
                            </tr>
                            <tr>
                                <th>Low</th>
                                <td>{{stock.low_price}}$</td>
                            </tr>
                            <tr>
                                <th>Close</th>
                                <td>{{stock.close_price}}$</td>
                            </tr>
                            <tr>
                                <th>Ajusted Clode</th>
                                <td>{{stock.adj_close_price}}$</td>
                            </tr>
                            <tr>
                                <th>Change</th>
                                <td>${% get_change_price stock.adj_close_price stock.open_price %}</td>
                            </tr>
                            <tr>
                                <th>Volume</th>
                                <td>{{stock.volume}}</td>
                            </tr>

                        </table>
                    </div>

                    <div style="width: 280px;">
                        <div class="search-container">
                            <form  method="POST" style="margin-left: 5px;">
                                {% csrf_token %}
                                <input id="id_symbol" type="text" placeholder="Another ticker...">
                                <!-- <button type="submit">Go</button> -->
                                <!-- {% with ticker as getInputTicker %} -->
                                <a href="#"
                                style="padding: 10px 20px;
                                    border: none;
                                    background-color: #007bff;
                                    color: white;
                                    border-radius: 0 5px 5px 0;
                                    cursor: pointer;
                                    font-size: 16px;" id="go_to">Go</a>
                                <!-- {% endwith %} -->
                            </form>
                        </div>  
                        <div>
                            <ul id="searchResults"></ul>
                        </div>
                    </div>
                </div>


                <div style="margin-bottom: 20px; margin-top: 20px;">
                    {{ plot_html|safe }}
                </div>
            </div>
        </div>

        <div>
            <h3 style="font-style: bold; margin-left: 25px;">Related news:</h3>
            {% for new in news %}
            <div style="margin-left: 25px; margin-top: 15px;">
                <a href="{{new.url}}" class="news-link">{{new.headline}}</a><br>
            </div>
            {% endfor %}
            <br>
        </div>

    </div>

    <script>
        const searchInput = document.getElementById('id_symbol');
        const searchResults = document.getElementById('searchResults');

        searchInput.addEventListener('input', function() {
            const query = this.value.trim();
            fetch(`/search_symbol?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = '';
                    data.forEach(item => {
                        const p = document.createElement('p');
                        p.textContent = JSON.stringify(item.symbol + ': ' + item.company).replace(/"/g, '');
                        // p.addEventListener('mouseenter', function() {
                        //     p.classList.add('highlight');
                        // });
                        // p.addEventListener('mouseleave', function() {
                        //     p.classList.remove('highlight');
                        // });
                        p.addEventListener('click', function() {
                            const inputBar = document.getElementById('id_symbol');
                            inputBar.value = item.symbol;
                            searchResults.innerHTML=''
                            document.getElementById('go_to').href = "{% url 'ticker_info' symbol='__ticker__' %}".replace('__ticker__', inputBar.value);
                        });

                        searchResults.appendChild(p);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        // const goToLink = document.getElementById('go_to')
        // goToLink.addEventListener("click", function() {

        //     // Construct the URL with the ticker value
        //     var url = "{% url 'ticker_info' symbol='%ticker%' %}".replace('%ticker%', 'QCOM');

        //     // Set the href attribute of the anchor tag
        //     goToLink.href = url;
        // });
        

    </script>

{% endblock content%}
</html>