{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ form.errors }}
    </div>
{% else %}

<form method="POST" action="{% url 'login' %}">
	{% csrf_token %}
	<!--{{form.as_p}}-->
	<h2>Login</h2>
	<label for="id_username">Username or Email address:</label>
	<input type="text" name="username" maxlength="254" autofocus="" required="" id="id_email">
		
	<label for="id_password">Password:</label>
	<input type="password" name="password" apasswordutocomplete="current-password" required="" id="id_password">
	<div style="display: inline-block;">
		<button type="submit" class="button">Login</button>
		<a href="{% url 'password_reset' %}">Forget password</a> Or
		<a href="{% url 'register' %}">Create new account</a>
	</div>
</form>

{% endif %}

{% endblock content%}